@{
    ViewBag.Title = "Administrador";
    Layout = "~/Views/Shared/Login.cshtml";
}

<h1>QR Project Manager</h1>

<!-- Tabs Titles -->
<a class="inactive underlineHover" href="BuzonPrincipal"> PRINCIPAL </a>
<a class="inactive underlineHover" href="Usuarios"> USUARIOS </a>
<h2 class="active">ADMINISTRADOR </h2>

<!-- Icon -->
<div class="fadeIn first">
    <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
</div>

<!-- Login Form -->
<form>
    <input type="text" id="login" class="fadeIn second" name="login" placeholder="Iniciar Sesioon">
    <input type="text" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
    <a asp-controller="Home" asp-action="Index"><input type="button" class="btn fadeIn fourth" value="Iniciar Sesion"></a>
</form>

<!-- Remind Passowrd -->
<div id="formFooter">
    <a class="underlineHover" href="#">Recuperar Contraseña?</a>
</div>