
@{
    ViewBag.Title = "Buzon";
    Layout = "~/Views/Shared/Login.cshtml";
}

<h1>QR Project Manager</h1>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <a class="inactive underlineHover" href="Buzon"> PRINCIPAL </a>
        <h2 class="active"> USUARIOS </h2>
        <a class="inactive underlineHover" href="Administrador"> ADMINISTRADOR </a>


        <div class="fadeIn first"></div>

        <input type="submit" class="btn fadeIn fourth" value="Iniciar Sesion" name="submit">

        <div class="fadeIn first"></div>
    </div>
</div>