@{
    ViewBag.Title = "BuzonPrincipal";
    Layout = "~/Views/Shared/Login.cshtml";
}

<h1>QR Project Manager</h1>

<!-- Tabs Titles -->
<h2 class="active"> PRINCIPAL </h2>
@Html.ActionLink("USUARIOS", "Usuarios", "Login", null, new { @class = "inactive underlineHover" })
@Html.ActionLink("ADMINISTRADOR", "Administrador", "Login", null, new { @class = "inactive underlineHover" })

<a href="@Url.Action("CreateCliente", "Login")">
    <input type="submit" class="btn fadeIn fourth" value="LLenar Buzon" name="submit">
</a>