
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Login.cshtml";
}

<h1>GestionQR</h1>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> USUARIOS </h2>
        <a class="inactive underlineHover" href="Administrador">ADMINISTRADOR </a>

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form method="post">
            <input type="text" id="login" class="fadeIn second" name="username" placeholder="Usuario">
            <input type="text" id="password" class="fadeIn third"  name="password" placeholder="Contraseña">
            <input type="submit" class="btn fadeIn fourth" value="Iniciar Sesion" name="submit">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Recuperar Contraseña?</a>
        </div>

    </div>
</div>
