@model GestionQR.Models.Usuarios_quejas

@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/Login.cshtml";
}

<h1>QR Project Manager</h1>

<!-- Tabs Titles -->
@Html.ActionLink("PRINCIPAL", "BuzonPrincipal", "Login", null, new { @class = "inactive underlineHover" })
<h2 class="active"> USUARIOS </h2>
@Html.ActionLink("ADMINISTRADOR", "Administrador", "Login", null, new { @class = "inactive underlineHover" })

<!-- Icon -->
<div class="fadeIn first">
    <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
</div>

<a href="@Url.Action("LoginQuejas", "Login")">
    <input type="submit" class="btn fadeIn fourth" value="Gestionar Quejas" name="submit">
</a>

<a href="@Url.Action("LoginReclamaciones", "Login")">
    <input type="submit" class="btn fadeIn fourth" value="Gestionar Reclamaciones" name="submit">
</a>