<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Login"] - GestionQR</title>
    <!-- endinject -->
    <link rel="shortcut icon" href="~/Content/images/favicon.png" />
    <link rel="stylesheet" href="~/Content/css/login.css" />
</head>
<body>
    <main role="main" class="pb-3">
        <div class="wrapper fadeInDown">
            <div id="formContent">
                @RenderBody()
            </div> 
        </div> 
    </main>
    @RenderSection("scripts", required: false)
</body>
</html>
